.add-blog {
  margin: 0 50px 30px 50px;
  min-width:670px;
  padding:40px 40px 20px 40px;
  background: rgba(255,255,255,0.8);
  border-radius:15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-data,.blog-title-input, .blog-intro-input, .blog-content-input,
.blog-class-choose, .blog-label-choose {
  width: 600px;
}
.form-data span {
  color: rgb(80, 66, 66);
  font-weight: bold;
  font-size: 20px;
}
.blog-title-input input {
  width: 600px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  text-indent: 25px;
  outline-style: none;
  margin: 10px auto;
}
.blog-intro-input textarea {
  width: 600px;
  min-height: 50px;
  font-size: 15px;
  text-indent: 20px;
  border-radius: 5px;
  border: 0;
  resize: none;
  outline: none;
  margin: 10px auto;
  word-wrap:break-word; 
  word-break:break-all; 
  overflow: hidden;
}
.blog-content-input textarea {
  width: 600px;
  min-height: 200px;
  font-size: 15px;
  text-indent: 20px;
  border-radius: 5px;
  border: 0;
  resize: none;
  outline: none;
  margin: 10px auto;
  word-wrap:break-word; 
  word-break:break-all; 
  overflow: hidden;
}
.checkbox-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-choose {
  width: 110px;
  height: 20px;
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.single-choose label {
  color: rgb(64, 138, 103);
  font-weight: bold;
}
.blog-add-info {
  height: 20px;
  width: 200px;
  text-align: center;
  padding-top: 15px;
  color: red;
  font-family: Microsoft JhengHei;
  font-weight: bold;
}