.button-box {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100px;
  border:5px solid lightblue ;
  border-radius: 15px;
}
.hide-item {
  display: none;
}
.show-item img{
  height:45px;
}
.button-content {
  color: black;
  font-weight: bold;
  font-size: 15px;
  line-height: 50px;
}