.contact-detail{
  width:300px;
  background-color:rgba(255,255,255,0.8);
  border-radius:15px;
  margin-bottom:20px;
  display:flex;
  transition: all 0.7s;
}
.contact-detail:hover {
  box-shadow: 0px 15px 36px -7px #513D30;
  transition: all 0.7s;
}
.wechat{
  position: relative;
  width: 120px;
  height: 120px;
}
.wechat img{
  width:80px;
  height:80px;
  position: absolute;
  left: 20px;
  top: 20px;
  transition: all 1.5s;
  box-shadow: 0px 5px 5px #d4aae7;
  border-radius: 5px;
}
.wechat img:first-child{
  z-index: 1;
  backface-visibility: hidden;
}
.wechat:hover img{
  transform: rotateY(180deg);
}
.title-infor{
  height:16px;
  margin:0px;
  margin-bottom: 10px;
  display: flex;
}
.title-infor span{
  font-size:10px;
  color:#988d9e;
}
.contact-infor{
  width:180px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.detail-infor{
  width:180px;
  display:flex;
  justify-content: flex-start;
}
.detail-infor span{
  text-indent:10px;
  height:21px;
  line-height:21px;
  display: inline-block;
  color:#988d9e;
  font-size:10px;
  margin-bottom:5px;
}
.icon-container {
  display: flex;
  align-items: center;
}